@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-arboriabook: Arboria-Book, sans-serif;
  --font-outfit: Outfit, sans-serif;
  --font-helvetica: Helvetica, sans-serif;
  --font-poppins: Poppins, sans-serif;
  --font-nclneovibes: NCLNeovibes, sans-serif;
  --font-florencesans: 'Florencesans', sans-serif;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
  font-family: 'Arboria-Book';
  src: url('./fonts/Arboria-Book.woff2') format('woff2');
}

@font-face {
  font-family: "Outfit";
  src: url('./fonts/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: "Poppins";
  src: url('./fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: "NCLNeovibes";
  src: url('./fonts/NCLNeovibes-Demo.otf') format('opentype');
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn01.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn02.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn03.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn04.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn05.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn06.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn07.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn08.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn09.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn10.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn11.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn12.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn13.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn14.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn15.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn16.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn33.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn34.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn37.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn38.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn41.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn42.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn45.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Florencesans';
  src: url('./fonts/FlorenceSans/Florsn46.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arboria-Book, sans-serif;
}

ul {
  list-style-type: disc;
  padding-left: 1.5rem; /* Add some left padding for better alignment */
}